; Variables d'environnement pour l'application
env[DB_HOST] = {{ mysql_db_host }}
env[DB_NAME] = {{ mysql_db_name }}
env[DB_USER] = {{ mysql_db_user }}
env[DB_PASSWORD] = {{ vault_mysql_db_password }}